.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
}
.logo{
    position: fixed;
    left: 20px;
    width: 80px;
}
.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}
.n{
    display: flex;
    color: #fff;
    position: fixed;
    left: 200px;
}
.navs{
    color: #fff;
    justify-content: center;
    align-items: center;
    
    /* margin: 0 auto; */
}
ul li a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    
    
}
ul li{
    margin-right:30px;
    text-decoration: none;
    list-style: none;
    
    
}